<section class="module pb-0" id="proxeventos">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Próximos Eventos</h2>
                <div class="module-subtitle font-serif"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="filter font-alt" id="filters">
                    <li><a class="current wow fadeInUp" href="#" data-filter="*">Todos</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".illustration" data-wow-delay="0.2s">Próximos à você</a></li>
                    
                </ul>
            </div>
        </div>
    </div>

    <ng-template [ngIf]="eventList">
            <ng-template [ngIf]="eventList.length">
        
              <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
                    <li *ngFor="let event of eventList" class="work-item illustration webdesign">
                        <a [routerLink]="['/evento', event.$key]">
                            <div class="work-image"><img src="../../../assets/images/work-1.jpg" alt="Portfolio Item" /></div>
                            <div class="work-caption font-alt">
                                <h3 class="work-title">{{event.nome}}</h3>
                                <div class="work-descr">{{event.descricao}}</div>
                            </div>
                        </a>
                    </li>
                    </ul>
            </ng-template>
        
            <!-- No upcoming public events available -->
            <p *ngIf="!eventList.length" class="alert alert-info">
              No upcoming public events available.
            </p>
          </ng-template>
        
          <!-- Error loading events -->
          <p *ngIf="error" class="alert alert-danger">
            <strong>Oops!</strong> There was an error retrieving event data.
          </p>

   
</section>