<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<app-menu></app-menu>
<section class="home-section home-full-height bg-dark bg-gradient" id="home" data-background="assets/7893.jpg">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-4">Vem Cá Dançar!</div>
            <div class="font-alt mb-40 titan-title-size-1">Encontre eventos, professores ou escolas de dança...</div>
        </div>
    </div>
</section>
<section class="module">
    <div class="container" id="body">
        <router-outlet></router-outlet>
    </div>
</section>
<app-rodape></app-rodape>
<div class="scroll-up">
    <a href="#totop">
        <i class="fa fa-angle-double-up"></i>
    </a>
</div>